<div class="container mt-20">
  <div class="row">
    <div class="col-xs-3 mt-20">
      <h2>User info</h2>
        <table class="table">
          <tbody> 
            <tr>
    	        <th>name</th>
    	        <th><%= @user.name %></th>
            </tr>
            <tr>
    	        <th>introduction</th>
    	        <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
    <!--</div>-->
  <!--</div>  -->

  <div class="row">
    <div class="col-xs-12 mt-20">
      <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench " >
        <!--ここに編集ボタン-->
      </a>
    </div>
  </div>
  
  <!--<div class="row">-->
    <!--<div class="col-xs-3 mt-20">-->
      <h2 class="text-center">New book</h2>
      <div class="padding-bottom-15">
        <%= form_with model:@book, local:true do |f| %>
        <div class="form-group padding-bottom-15">
        <%= f.label :title, 'Title' %>
          <br><%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="form-group padding-bottom-15">
        <%= f.label :body, 'Opinion' %>
        <br><%= f.text_area :body, class:"form-control" %>
        </div>
        <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
        <% end %>
      </div>
    </div>
  <!--</div>-->
  
  <!--<div class="row">-->
  <div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table table-hover table-inverse">
		  <tbody><tr>
        <td><a href="/users/25341">
          <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon"><br>
          Hakamata
</a>        </td>
        <td><a href="/books/39635">ああああ</a></td>
        <td>ああああああああ</td>

      </tr>
    </tbody></table>

      </div>
    </div>
  </div>
