<div class="container">
  <div class="page-box">
    <%= render 'books/side'%>
    <div class="main-box">
      <h2>Books</h2>
      <div class="books-box">
        <div class=books-icon>User image</div>
        <div class=books-title>Title</div>
        <div class="books-opinion">Opinion</div>
        <div class="edit-btn"> </div>
        <div class="delete-btn"> </div>
      </div>
      <div class="books-box">
        <div class=books-icon>
          <%= link_to user_path(@book_show.user_id) do %>
            <%= image_tag 'noimage.jpg', :size =>'60x60', class:"icon" %>
          <% end %>
        </div>
        <div class=books-title>
          <%= link_to book_path(@book_show), class:"title-link" do %>
            <%= @book_show.title %>
          <% end %>
        </div>
        <div class="books-opinion">
          <%= @book_show.body %>
        </div>
        <% if @book_show.user_id == current_user.id %>
        <div class="edit-btn"><%= link_to "edit", edit_book_path(@book_show), class:"e-btn" %></div>
        <div class="delete-btn"><%= link_to "destroy", book_path(@book_show.id), method: :delete, data:{confirm:'本当に削除してよろしいですか？'},class:"d-btn" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>